.landing-page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.landing-page__app-bar {
  background: #F6E36B !important;
}

.landing-page__header-nav-btn {
  font-family: Futura-Book !important;
  color: #40B097 !important;
  font-size: 14px;
}

.landing-page__header-nav-btn span {
  text-transform: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
