.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__app-bar {
  background: #FDFFF9 !important;
  height: 85px !important;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 32px !important;
}

.header__nav {
  position: relative;
  bottom: 8px;
}

.header__nav-btn {
  color: #4A4A4A !important;
  font-size: 14px;
}

.header__nav-btn span {
  text-transform: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.header__about-us-btn {
  display: none !important;
}

.header__sign-up-btn {
  position: relative;
  top: 3px;
  border: 2px solid #00FFEE !important;
  border-radius: 2px !important;
  border: 1px solid #45D8B8;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  height: 36px !important;
  line-height: 30px !important;
  min-height: 36px !important;
}

.header__sign-up-btn span {
  font-size: 16px !important;
  color: rgba(45,43,43,0.99) !important;
  letter-spacing: 0.57px !important;
  padding: 7px 11px 10px 11px !important;
}

@media (min-width: 675px) {

  .header__app-bar {
    padding-right: 40px !important;
  }

}
