@import url("./details/index.css");

.how-it-works-page__intro-sign-up-btn {
  width: 236px !important;
  margin-bottom: 99px;
}

@media(max-width: 480px) {
  .how-it-works-page__intro-sign-up-btn {
    width: 180px !important;
  }
}
