// colors
$green: #4EBBA6;
$cream: #FDFFF9;
$white: #FFFFFF;
$black: #000000;
$light-grey: #9B9B9B;
$dark-grey: #2D2D2D;

// fonts
$sans-serif: Nunito Sans;

// font-weights
$light: 200;
$regular: 300;
$semi-bold: 400;
$bold: 600;

// breakpoints
$mobile: "max-width: 480px"
