.landing-page__footer {
  background: #4A4A4A;
  color: #FDFFF9;
  font-size: 14px;
  font-weight: 300;
  padding: 50px 94px;
  padding-right: 0;
}

.landing-page__footer-header {
  font-weight: 700;
  margin-bottom: 20px;
}

.landing-page__footer-links-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-align-items: space-between;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 25px;
}

.landing-page__footer-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.landing-page__footer-address-link-container {
  font-style: normal;
}

.landing-page__footer-social-media-links-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
}

.landing-page__footer-social-media-link {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: inline-block;
}

.landing-page__footer-social-media-link-icon {
  height: 100%;
}

@media (max-width: 479px) {
  .landing-page__footer {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .landing-page__footer {
    padding-left: 45px;
  }
}
