.footer {
  background: $cream;
  color: $black;
  padding: 50px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > .logo {
    margin-bottom: 10px;
  }

  & > address {
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 35px;
  }

  & .links-header {
    font-weight: $bold;
  }

  & > .site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    & > .links-header {
      margin-bottom: 5px;
    }
  }

  & > .follow-us {
    margin-bottom: 20px;

    & > .links-header {
      margin-bottom: 15px;
    }

    & > .social-links {
      display: flex;
      flex-direction: row;

      & > .social-link:not(:last-child) {
        margin-right: 10px;
      }
    }

    & .social-media-logo {
      width: 40px;
      height: 40px;
    }
  }

  & > .mailing-list-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 25px;

    & > .mailing-list-input {
      font-size: 12px;
      font-weight: $light;
      max-width: 190px;
      padding: 15px 20px;
      border: 1px solid $green;
    }

    & > .mailing-list-button {
      width: 76px;
      background: $green;
      border: none;
      color: $white;
      font-weight: $light;
    }
  }

  & > .non-profit {
    font-size: 9px;
    font-style: italic;
  }
}
