.footer {
  padding: 80px $lp-h-padding 70px;
  background: $cream;
  color: $black;
  position: relative;

  .content {
    max-width: $lp-max-width;
    margin: 0 auto;
    position: relative;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    & > div:not(:last-child) {
      margin-right: 50px;
    }

    .meta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .logo {
        margin-bottom: 20px;
      }

      address {
        font-style: normal;
        margin-top: 20px;
        margin-bottom: 35px;
      }
    }

    .links-header {
      font-weight: $bold;
    }

    .site-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;

      .links-header {
        margin-bottom: 5px;
      }
    }

    .follow-us {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      max-width: 360px;
      width: 100%;

      .links-header {
        margin-bottom: 15px;
      }

      .social-links {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .social-link:not(:last-child) {
          margin-right: 10px;
        }
      }

      .social-media-logo {
        width: 40px;
        height: 40px;
        transition: 0.5s;

        &:hover {
          opacity: 0.7;
        }
      }

      .mailing-list-form {
        position: relative;
        margin-bottom: 25px;
        width: 100%;

        .inputs {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: flex-start;

          .mailing-list-input {
            border-radius: 0;
            font-size: 18px;
            font-weight: $light;
            padding: 15px 20px;
            border: 1px solid $green;
          }

          .mailing-list-button {
            width: 76px;
            background: $green;
            border: none;
            color: $white;
            font-weight: $light;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        .error {
          color: $light-grey;
          font-style: italic;
          font-weight: $regular;
          margin-top: 5px;
        }
      }
    }
  }

  .non-profit {
    font-size: 9px;
    font-style: italic;
  }
}

@media #{$mobile-only} {
  .footer {
    padding: 50px 30px 20px;

    .main {
      .meta {
        .logo {
          margin-bottom: 10px;
        }

        address {
          margin-top: 10px;
        }
      }

      .follow-us {
        .mailing-list-form {
          .inputs {
            .mailing-list-input {
              font-size: 12px;
            }
          }

          .error {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media #{$tablet-up} {
  .footer {
    .main {
      & > div {
        flex: 1 0 300px;
      }

      .links-header {
        font-size: 20px;
        font-weight: $semi-bold;
      }

      .site-nav {
        .links-header {
          margin-bottom: 20px;
        }
      }

      .follow-us {
        .links-header {
          margin-bottom: 24px;
        }
      }
    }
  }
}
