.loved-ones {
  padding: 60px 30px;
  padding-bottom: 0;

  & > .h2 {
    font-weight: $semi-bold;
  }

  & > .p {
    margin-bottom: 20px;
  }

  & > .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > .icon {
      height: 220px;
      width: 220px;
      background: rgba(0,0,0,0.2);
    }
  }
}
