.faq-page {
  color: #4A4A4A;
  padding: 35px 130px 99px;
}

.faq-page__header {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
}

.faq-page__section-faqs {
  margin-bottom: 35px;
}

.faq-page__section-header {
  font-weight: 400;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 27px;
}

.faq-page__faq {
  margin-bottom: 25px;
}

.faq-page__faq-question {
  font-weight: 400;
  font-size: 24px;
  color: #40B097;
  margin-top: 0;
  margin-bottom: 3px;
}

.faq-page__faq-answer {
  font-size: 20px;
  margin: 0;
}

@media (max-width: 800px) {

  .faq-page {
    padding: 99px 40px;
  }

  .faq-page__header {
    font-size: 32px;
  }

  .faq-page__section-header {
    font-size: 26px;
  }

  .faq-page__faq-question {
    font-size: 20px;
  }

  .faq-page__faq-answer {
    font-size: 16px;
  }

}
