.sign-up-page__hint {
  position: relative;
  width: 50%;
}

.sign-up-page__hint-bubble-container {
  width: 100%;
  display: none;
  -webkit-flex-direction: row;
  -webkit-align-items: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.sign-up-page__hint-bubble {
  background: #40B097;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  max-width: 280px;
}

.sign-up-page__hint-bubble-arrow {
  position: relative;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #40B097;
  z-index: 1;
}

.sign-up-page__hint-text {
  font-size: 18px;
  color: #FDFFF9;
  font-weight: 300;
  padding: 25px;
  line-height: 1.25;
  margin: 0;
}

@media (max-width: 640px) {

  .sign-up-page__hint {
    width: 0;
  }

}
