.landing-page__std-header {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

.landing-page__std-subheader {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 300;
}

.landing-page__hotline-banner {
  font-size: 18px;
  color: #FDFFF9;
  background: rgba(45,43,43,0.99);
  padding-top: 6px;
  padding-bottom: 9px;
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  z-index: 1001;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-page__hotline-banner-text {
  font-weight: 300;
}

@media (max-width: 839px) {

  .landing-page__std-header {
    font-size: 22px;
  }

  .landing-page__std-subheader {
    font-size: 18px;
  }

}

@media (max-width: 674px) {

  .landing-page__hotline-banner {
    padding: 12px 19px 14px 16px;
    top: 70px;
  }

  .landing-page__hotline-banner-text {
    font-size: 13px;
  }

}

@import url("./stories/index.css");
@import url("./problem/index.css");
@import url("./launching-soon/index.css");
@import url("./how-it-works/index.css");
