.petition {
  position: fixed;
  background: $black;
  color: $white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.petition__close-btn {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 60px;
  font-weight: 200;

  span {
    border-bottom: 1px solid $white;
  }
}

.petition__img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 10001;
}

.petition__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 10002;
}

.petition__desc {
  padding-left: 100px;
  margin-right: 200px;
}

.petition__header {
  font-size: 100px;
  margin: 0;
}

.petition__subheader {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  font-family: 'Cooper Hewitt';
}

.petition__p {
  font-size: 20px;
  font-weight: 200;
  line-height: 26px;
}

.petition__subheader-green {
  color: $green;
}

.petition__cta {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petition__btn {
  margin-bottom: 15px;
}

@media (max-width: 1150px) {
  .petition__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .petition__desc {
    padding: 0;
    padding-right: 100px;
    padding-left: 100px;
  }

  .petition__p {
    margin-bottom: 40px;
  }

  .petition__subheader-green {
    display: block;
  }

  .petition__cta {
    padding-right: 100px;
    padding-left: 100px;
    align-items: flex-start;
  }
}

@media (max-width: 750px) {

  .petition__close-btn {
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
  }

  .petition__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .petition__desc {
    padding-left: 40px;
    margin-right: 0;
    padding-right: 40px;
  }

  .petition__cta {
    padding-right: 40px;
    padding-left: 40px;
  }

  .petition__header {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .petition__subheader {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .petition__subheader-green {
    display: block;
  }

  .petition__p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  
}
