.sign-up-success-page {
  text-align: center;
  color: #4A4A4A;
  padding: 52px 29px 129px 29px;
}

.sign-up-success-page__header {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}

.sign-up-success-page__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

@media (max-width: 920px) {

  .sign-up-success-page__content {
    max-width: 420px;
  }

}

.sign-up-success-page__paragraph {
  font-size: 20px;
  max-width: 420px;
  border: 4px solid #40B097;
  border-radius: 8px;
  margin-top: 0;
  margin-bottom: 35px;
}

.sign-up-success-page__call-number {
  font-size: 30px;
  color: #FDFFF9;
  font-weight: lighter;
  display: block;
  background: #40B097;
  padding: 25px 17px 53px;
}

.sign-up-success-page__if-container {
  display: block;
  padding: 69px 45px 34px 36px;
  position: relative;
}

.sign-up-success-page__if-circle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sign-up-success-page__if-circle {
  display: block;
  background: #40B097;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  bottom: 43px;
  border: 2px solid #FDFFF9;
}

.sign-up-success-page__if-text {
  font-weight: 400;
  font-size: 40px;
  color: #FDFFF9;
}

.sign-up-success-page__if-condition {
  display: block;
  margin-bottom: 40px;
}

.sign-up-success-page__faq-link {
  text-decoration: none;
  color: #40B097;
}

.sign-up-success-page__share-container {
  max-width: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-success-page__share-header {
  font-size: 30px;
  font-weight: lighter;
  padding-top: 25px;
  margin-bottom: 40px;
  display: block;
}

.sign-up-success-page__share-link-text {
  display: block;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 11px;
}

.sign-up-success-page__share-link {
  font-size: 18px;
  color: #40B097;
  font-weight: lighter;
  margin-bottom: 50px;
}

.sign-up-success-page__share-btn {
  font-size: 16px;
  display: block !important;
  margin-bottom: 26px !important;
  text-align: left !important;
  width: 190px;
}

.sign-up-success-page__share-btn svg {
  width: 34px !important;
  height: 34px !important;
}

@media (max-width: 479px) {

  .sign-up-success-page__header {
    font-size: 20px;
  }

  .sign-up-success-page__call-number {
    font-size: 24px;
  }

  .sign-up-success-page__if-circle {
    height: 57px;
    width: 57px;
    bottom: 31px;
  }

  .sign-up-success-page__if-text {
    font-size: 28px;
  }

  .sign-up-success-page__paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .sign-up-success-page__if-container {
    padding-left: 20px;
    padding-right: 20px;
  }

}
