.sign-up-success-page {
  text-align: center;
  color: #4A4A4A;
  padding: 52px 29px 129px 29px;
}

.sign-up-success-page__header {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}

.sign-up-success-page__paragraph {
  font-size: 20px;
  margin: 0 auto;
  max-width: 420px;
}

.sign-up-success-page__call-number {
  font-size: 40px;
  color: rgba(45,43,43,0.99);
  font-weight: 700;
  display: block;
  margin-bottom: 60px;
}

.sign-up-success-page__if-container {
  border: 4px solid #40B097;
  border-radius: 8px;
  display: block;
  padding: 82px 45px 34px 36px;
  position: relative;
}

.sign-up-success-page__if-circle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sign-up-success-page__if-circle {
  display: block;
  background: #40B097;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  bottom: 43px;
}

.sign-up-success-page__if-text {
  font-weight: 400;
  font-size: 40px;
  color: #FDFFF9;
}

.sign-up-success-page__if-condition {
  display: block;
  margin-bottom: 40px;
}

.sign-up-success-page__faq-link {
  text-decoration: none;
  color: #40B097;
}

@media (max-width: 479px) {

  .sign-up-success-page__header {
    font-size: 20px;
  }

  .sign-up-success-page__call-number {
    font-size: 24px;
  }

  .sign-up-success-page__if-circle {
    height: 57px;
    width: 57px;
    bottom: 31px;
  }

  .sign-up-success-page__if-text {
    font-size: 28px;
  }

  .sign-up-success-page__paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .sign-up-success-page__if-container {
    padding-left: 20px;
    padding-right: 20px;
  }

}
