.scroll-down-btn {
  text-align: center;
}

.scroll-down-btn__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 7px;
  cursor: pointer
}

.scroll-down-btn__text {
  font-family: Futura-Book-Italic;
  font-size: 14px;
  color: #4A4A4A;
}
