.scroll-down-btn {
  text-align: center;
}

.scroll-down-btn__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 1px;
  cursor: pointer
}

.scroll-down-btn__text {
  font-size: 14px;
  color: #FDFFF9;
  font-weight: 300;
}
