.sign-up-page__create-user-form-continue-btn {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

@media (max-width: 640px) {

  .sign-up-page__create-user-form-checkbox {
    margin-bottom: 10px;
  }

  .sign-up-page__create-user-form-checkbox label {
    line-height: 18px !important;
  }

}
