.about-page {
  .banner {
    background-image: url('/assets/imgs/bookings-min.jpg');
    background-size: cover;
    background-position: center;
    height: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .banner-header {
      background: rgba(0, 255, 238, 0.77);
      color: $cream;
      font-size: 40px;
      font-weight: normal;
      padding: 15px 7px 15px 13px;
      text-align: center;
    }
  }

  .mission {
    background: $green;
    color: $cream;
    padding: 100px $lp-h-padding;
    text-align: center;

    .mission-text {
      max-width: $lp-max-width;
      margin: 0 auto;
    }
  }

  .story {
    background: $white;
    color: $black;
    padding: 80px $lp-h-padding;

    .content {
      max-width: $lp-max-width;
      margin: 0 auto;

      .h2 {
        margin-bottom: 30px;
      }

      .story-text {
        font-size: 18px;
        margin-bottom: 80px;
      }

      .story-icon {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .metrics {
    position: relative;
    background: $white;
    color: $black;

    .content {
      padding: 100px $lp-h-padding;
      margin: 0 auto;

      .subheader {
        text-align: center;
        font-size: 24px;
        font-weight: $bold;
        margin-bottom: 40px;
      }

      .container {
        max-width: $lp-max-width;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 110px;

        .metric {
          max-width: 300px;
          text-align: center;
          margin: 0 auto;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .number {
            font-size: 80px;
            color: $green;
            font-weight: $bold;
          }

          .label {
            font-size: 24px;
            color: $light-grey;
            line-height: 32px;
          }
        }
      }
    }
  }

  .team {
    background: $cream;
    padding: 80px $lp-h-padding;
    padding-bottom: 0;

    .content {
      max-width: $lp-max-width;
      margin: 0 auto;
      position: relative;

      .h2 {
        padding-bottom: 30px;
      }

      .text {
        padding-bottom: 110px;
      }

      .team-photo {
        max-width: $lp-max-width;
        width: 100%;
        position: relative;
        top: 4px;
      }
    }
  }

  .community {
    .content {
      max-width: $lp-max-width;
      margin: 0 auto;
      padding: 100px $lp-h-padding 120px;
      position: relative;

      .h2 {
        padding-bottom: 30px;
      }

      .text {
        padding-bottom: 60px;
      }

      .photo {
        max-width: 800px;
        max-height: 500px;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .donate {
    background: $green;
    color: $cream;
    padding: 90px $lp-h-padding 80px;

    .content {
      max-width: $lp-max-width;
      margin: 0 auto;

      .h2 {
        margin-bottom: 23px;
      }

      .text {
        font-weight: $light;
        margin-bottom: 60px;
      }

      .donate-btn {
        margin: 0 auto;
      }
    }
  }
}

@media #{$mobile-only} {
  .about-page {
    .banner {
      .banner-header {
        font-size: 26px;
      }
    }

    .metrics {
      .content {
        .subheader {
          font-size: 20px;
        }

        .container {
          .metric {
            max-width: 240px;

            .number {
              font-size: 40px;
            }

            .label {
              font-size: 15px;
              line-height: 1em;
            }
          }
        }
      }
    }
  }
}
