.about-page__banner {
  background-image: url('/assets/imgs/jelani-min.jpg');
  background-size: cover;
  background-position: center;
  height: 506px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  padding: 20px;
}

.about-page__banner-header {
  background: rgba(0, 255, 238, 0.77);
  color: #FDFFF9;
  font-size: 40px;
  font-weight: normal;
  padding: 15px 7px 15px 13px;
  text-align: center;
}

.about-page__two-col-panel {
  padding: 72px 126px;
  text-align: center;
  max-width: 841px;
  margin: 0 auto;
}

.about-page__two-col-panel-subheader {
  font-size: 30px;
  color: #4A4A4A;
  max-width: 160px;
  text-align: left;
}

.about-page__two-col-panel-paragraph {
  font-size: 20px;
  color: rgba(45,43,43,0.99);
  line-height: 1.15;
  text-align: left;
}

.about-page__paragraph-link {
  color: #40B097;
  text-decoration: none;
}

.about-page__our-team {
  padding-bottom: 0;
}

.about-page__team-photo {
  width: 100%;
  position: relative;
  top: 5px;
}

.about-page__horiz-divider {
  height: 1px;
  width: 100%;
  background: #979797;
}

.about-page__sign-up-btn {
  margin-top: 20px !important;
  float: left;
}

@media (max-width: 839px) {

  .about-page__banner-header {
    font-size: 32px;
  }

  .about-page__two-col-panel {
    padding: 60px 70px;
    padding-bottom: 0;
  }

  .about-page__two-col-panel-subheader {
    font-size: 26px;
    max-width: none;
    margin-bottom: 0;
  }

  .about-page__two-col-panel-paragraph {
    font-size: 18px;
  }

}

@media (max-width: 480px) {

  .about-page__banner-header {
    font-size: 26px;
  }

  .about-page__two-col-panel {
    padding: 20px 20px;
    padding-bottom: 0;
  }

  .about-page__join-our-movement {
    padding-bottom: 40px;
  }

}
