.landing-page__mission {
  background: #4A4A4A;
  color: #F7F9F9;
  text-align: center;
  padding: 62px 20px 0;
}

.landing-page__mission-text {
  font-family: Interstate-Light;
  font-size: 18px;
  max-width: 800px;
  padding-top: 5px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.landing-page__manifesto-btn {
  width: 207px !important;
  margin-bottom: 58px;
}

.landing-page__manifesto-btn span {
  font-family: Futura-Medium;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}
