.landing-page__mission {
  background: #4A4A4A;
  color: #FDFFF9;;
  text-align: center;
  padding: 62px 20px 0;
}

.landing-page__mission-text {
  max-width: 800px;
  padding-top: 5px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

.landing-page__learn-about-us-btn {
  width: 207px !important;
  margin-bottom: 58px;
}

.landing-page__manifesto-btn span {
  font-family: Futura-Medium;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}

@media (max-width: 480px) {
  .landing-page__mission-text {
    font-size: 18px;
  }
}
