.button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  font-weight: $light;
  height: 44px;
  padding: 0 10px;
  outline: none;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $sans-serif;

  &:focus {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &.primary {
    background: $green;
    color: $cream;
    min-width: 212px;
    transition: 0.3s;

    &:hover {
      background: transparent;
      border: 1px solid $green;
      color: $green;
    }
  }

  &.inverse {
    background: $cream;
    color: $green;
    min-width: 212px;
    transition: 0.3s;

    &:hover {
      background: transparent;
      border: 1px solid $cream;
      color: $cream;
    }
  }
}
