@import url("/assets/styles/normalize.css");
@import url("/assets/styles/fonts.css");
@import url("/assets/styles/overrides.css");
@import url("/assets/styles/slick.min.css");
@import url("/assets/styles/slick-theme.min.css");

html, body {
  position: relative;
  background: #FDFFF9;
}

body {
  font-family: Lato;
}

.gc-std-btn {
  height: 44px !important;
  line-height: 44px !important;
  min-height: 44px !important;
  min-width: 190px !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.gc-std-btn span {
  font-size: 16px !important;
  color: #FFFFFF;
  letter-spacing: 0.57px !important;
  font-weight: 300 !important;
  text-transform: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.gc-std-btn:disabled {
  background: #E5E5E5 !important;
}

.gc-std-btn:disabled span {
  color: #A1A1A1 !important;
}

.green-on-hover {
  transition: 0.5s;
}

.green-on-hover:hover {
  color: #00FFEB !important;
}

/* legal pages: privacy-policy-page and terms-and-conditions-page */

.legal-container {
  color: #4a4a4a;
  padding: 100px 133px 150px 133px;
  text-align: center;
}

.legal-header {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.21px;
  margin-top: 0;
  margin-bottom: 15px;
}

.legal-effective-date {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 33px;
}

.legal-paragraph {
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 25px;
}

.legal-subheader {
  font-weight: 400;
  font-size: 30px;
  border-bottom: 2px solid #00ffee;
  display: inline-block;
  text-align: center;
  margin-top: 45px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 839px) {

  .legal-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .legal-header {
    font-size: 36px;
  }

  .legal-effective-date {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
  }

  .legal-paragraph {
    font-size: 18px;
  }

  .legal-subheader {
    font-size: 26px;
  }

}

@media (max-width: 589px) {

  .legal-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .legal-paragraph {
    font-size: 16px;
  }

  .legal-subheader {
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
  }

  .gc-std-btn span {
    font-weight: 500 !important;
  }

}
