@import url("/assets/styles/normalize.css");
@import url("/assets/styles/fonts.css");
@import url("/assets/styles/overrides.css");
@import url("/assets/styles/slick.min.css");
@import url("/assets/styles/slick-theme.min.css");

html, body {
  position: relative;
  background: #FDFFF9;
}

body {
  padding-top: 64px;
  font-family: Lato;
}

.gc-std-btn {
  height: 44px !important;
  line-height: 44px !important;
  min-height: 44px !important;
  background: #40B097 !important;
  min-width: 190px !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.gc-std-btn span {
  font-size: 16px !important;
  color: #FFFFFF;
  letter-spacing: 0.57px !important;
  font-weight: 300 !important;
  text-transform: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.gc-std-btn:disabled {
  background: #E5E5E5 !important;
}

.gc-std-btn:disabled span {
  color: #A1A1A1 !important;
}



/* TODO: remove unused colors */

/*
COLORS
  gc-yellow: #F6E36B;
  gc-green: #40B097;
  gc-grey: #4A4A4A;
  gc-new-white: #FDFFF9;
  gc-mint: #45D8B8;
*/

@import url("./components/header/index.css");
@import url("./components/intro/index.css");
@import url("./components/footer/index.css");
@import url("./components/landing-page/index.css");
@import url("./components/about-page/index.css");
@import url("./components/sign-up-page/index.css");
@import url("./components/sign-up-success-page/index.css");
@import url("./components/privacy-policy-page/index.css");
@import url("./components/login-page/index.css");
@import url("./components/faq-page/index.css");

@import url("./components/scroll-down-btn/index.css");
@import url("./components/simple-panel/index.css");
