@import url("./normalize.css");
@import url("./fonts.css");

html, body {
  position: relative;
  height: 100%;
}

/*
COLORS
  gc-yellow: #F6E36B;
  gc-green: #40B097;
  gc-grey: #4A4A4A;
  gc-white: #F7F9F9;
*/

@import url("./landing-page/index.css");
