@import url("./normalize.css");
@import url("./fonts.css");
@import url("./overrides.css");

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 64px;
  background: #FDFFF9;
  font-family: Lato;
}

.gc-std-btn {
  width: 158px !important;
}

.gc-std-btn span {
  text-transform: none !important;
  letter-spacing: 0.57px !important;
  font-weight: 300 !important;
}

/* TODO: remove unused colors */

/*
COLORS
  gc-yellow: #F6E36B;
  gc-green: #40B097;
  gc-grey: #4A4A4A;
  gc-new-white: #FDFFF9;
  gc-mint: #45D8B8;
*/

@import url("./header/index.css");
@import url("./intro/index.css");
@import url("./footer/index.css");
@import url("./landing-page/index.css");
@import url("./how-it-works-page/index.css");

@import url("./scroll-down-btn/index.css");
