@import url("./normalize.css");

html, body {
  position: relative;
  height: 100%;
}

@font-face {
  font-family: 'Futura-Book';
  src: url('./../assets/fonts/futura-book.woff2') format('woff2'),
       url('./../assets/fonts/futura-book.woff') format('woff'),
       url('./../assets/fonts/futura-book.ttf') format('truetype')
}

/*
COLORS
  gc-yellow: #F6E36B;
  gc-green: #40B097;
*/


@import url("./landing-page/index.css");
