.sign-up-page {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  color: #4A4A4A;
}

.sign-up-page__token-errors {
  margin: 0 auto;
  text-align: center;
  color: red;
  margin-bottom: 15px;
  font-weight: 700;
}

.sign-up-page__form-container {
  max-width: 664px;
  margin: 0 auto;
}

.sign-up-page__form-header {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 44px;
}

.sign-up-page__form-subheader {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 60px;
}

.sign-up-page__form {
  position: relative;
  margin: 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: flex-start;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.sign-up-page__form-fields-container {
  width: 50%;
  text-align: center;
}

.sign-up-page__form-continue-btn {
  margin-top: 75px !important;
  margin-bottom: 95px !important;
}

@media (max-width: 640px) {

  .sign-up-page__contact-fields-container {
    padding: 10px !important;
  }

  .sign-up-page__form-header {
    font-size: 20px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 42px;
  }

  .sign-up-page__form-subheader {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .sign-up-page__form-fields-container {
    max-width: 300px;
    width: auto;
  }

}

@import url("./create-user-form/index.css");
@import url("./create-contacts-form/index.css");
@import url("./hint/index.css");
