.sign-up-page {
  padding-top: 30px;
  padding-bottom: 75px;
}

.sign-up-page__header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.sign-up-page__subheader {
  text-align: center;
  font-size: 26px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 35px;
}

.sign-up-page__options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-page__option {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 170px;
  height: 90px;
  border: 1px solid #979797;
  border-radius: 4.8px;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px 25px;
  transition: 0.5s;
}

.sign-up-page__option:hover {
  border-color: #40B097;
}

.sign-up-page__option-header {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.sign-up-page__option-details {
  color: #4A4A4A;
  line-height: 15px;
  margin: 0;
  font-weight: lighter;
}

@media (max-width: 480px) {
  .sign-up-page__header {
    font-size: 18px;
  }

  .sign-up-page__subheader {
    font-size: 16px;
  }

  .sign-up-page__option-header {
    font-size: 16px;
  }

  .sign-up-page__option-details {
    font-size: 12px;
  }
}
