/* general */

.how-it-works-page__details-centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.how-it-works-page__details {
  background: #4A4A4A;
  color: #FFFFFF;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

/* header */

.how-it-works-page__details-header {
  font-family: Futura-Light;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 7px;
}

.how-it-works-page__details-subheader {
  font-family: Futura-Light-Italic;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 83px;
}

/* steps */

.how-it-works-page__step-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-it-works-page__step-icon {
  position: relative;
  width: 140px;
  height: 140px;
}

.how-it-works-page__step-horiz-separator {
  width: 166px;
}

.how-it-works-page__step-text {
  font-family: Interstate-Light;
  text-align: left;
  width: 240px;
}

.how-it-works-page__sub-step-number-icon-container {
  display: inline-block;
  width: 140px;
  height: 50px;
  margin-right: 166px;
}

.how-it-works-page__sub-step-number-container {
  width: 50px;
  height: 50px;
  background: #40B097;
  border-radius: 50%;
  margin: 0 auto;
}

.how-it-works-page__sub-step-number {
  font-size: 35px;
}

.how-it-works-page__parallel-step-icon-container {
  width: 140px;
}

.how-it-works-page__lawyer-icon {
  right: 41px;
}

.how-it-works-page__family-icon {
  left: 41px;
}

.how-it-works__details-sign-up-btn {
  width: 236px !important;
  margin-top: 126px;
}

/* lines */

.how-it-works-page__vert-line {
  position: relative;
  margin: 0 auto;
  right: 203px;
  width: 6px;
}

.how-it-works-page__vert-white-line {
  height: 80px;
  background: #FFFFFF;
}

.how-it-works-page__vert-green-line {
  height: 80px;
  background: #40B097;
}

.how-it-works-page__short-vert-green-line {
  height: 25px;
  background: #40B097;
}

.how-it-works-page__short-vert-white-line {
  height: 25px;
  background: #FFFFFF;
}

.how-it-works-page__branched-line {
  width: 213px;
  height: 36px;
  border: 6px solid;
  position: relative;
  margin: 0 auto;
  right: 203px;
}

.how-it-works-page__white-branched-line {
  border-top: none;
  border-color: #FFFFFF;
}

.how-it-works-page__green-branched-line {
  border-bottom: none;
  border-color: #40B097;
}
