.hotline-banner {
  font-size: 18px;
  color: #FDFFF9;
  background: rgba(45,43,43,0.99);
  padding-top: 6px;
  padding-bottom: 9px;
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  z-index: 1001;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-page__content {
  padding-top: 120px;
}

@media (max-width: 849px) {

  .hotline-banner {
    padding: 12px 19px 14px 16px;
    top: 70px;
  }

  .hotline-banner-text {
    font-size: 13px;
  }

}
