.landing-page__problem {
  background: #FDFFF9;
  color: #4A4A4A;
  text-align: center;
  padding: 70px 20px 72px;
  font-weight: 700;
}

.landing-page__problem-text {
  max-width: 800px;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.15;
  text-align: center;
}

@media (max-width: 839px) {

  .landing-page__problem-text {
    font-size: 18px;
  }

}

@media (max-width: 480px) {
  .landing-page__problem-text {
    font-size: 16px;
  }
}
