.landing-page__footer {
  background: #F6E36B;
  font-family: Futura-Book;
  font-size: 14px;
}

.landing-page__footer-link-container {
  padding-top: 62px;
  padding-bottom: 50px;
  padding-left: 94px;
}

@media (max-width: 479px) {
  .landing-page__footer-link-container {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .landing-page__footer-link-container {
    padding-left: 45px;
  }
}

.landing-page__footer-header {
  color: #40B097;
  margin-bottom: 12px;
}

.landing-page__footer-link {
  margin-bottom: 12px;
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}
