span[type=button] {
  -webkit-appearance: none;
  appearance: none;
}

a[type=button] {
  -webkit-appearance: none;
  appearance: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

input:required {
  box-shadow:none;
}

input:invalid {
  box-shadow: none;
}
