.sign-up-page__text-btn {
  font-size: 16px;
  font-weight: 300;
  color: #40B097;
  cursor: pointer;
  margin-bottom: 15px;
}

.sign-up-page__create-contacts-form-checkbox {
  margin-bottom: 15px;
  margin-top: 60px;
}

.sign-up-page__form-fields-header {
  font-weight: 300;
}
