.sign-up-page__contact-fields-container {
}

.sign-up-page__text-btn {
  font-size: 16px;
  font-weight: 300;
  color: #40B097;
  cursor: pointer;
  margin-bottom: 15px;
}

.sign-up-page__create-contacts-form-checkbox {
  margin-bottom: 15px;
  margin-top: 85px;
}

.sign-up-page__remove-contact-btn {
  position: absolute;
  top: 3px;
  right: 9px;
  font-size: 27px;
  cursor: pointer;
}

.sign-up-page__additional-contact-header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: left;
  font-size: 22px;
}

.sign-up-page__add-contacts-bubble {
  border-radius: 8px;
}

.sign-up-page__add-contacts-bubble-arrow {
  position: relative;
  top: 18px;
}
