.sign-up-page__text-btn {
  font-size: 14px;
  font-weight: 300;
  color: #40B097;
  cursor: pointer;
}

.sign-up-page__create-contacts-form-checkbox {
  margin-bottom: 15px;
  margin-top: 60px;
}

.sign-up-page__create-contacts-form-fields-header {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-up-page__create-contacts-form-delete-btn {
  cursor: pointer;
}

.sign-up-page__dont-know-container {
  margin-bottom: 15px;
}

.sign-up-page__dont-know-question {
  font-size: 14px;
  font-weight: 300;
}

.sign-up-page__create-contacts-form-hints-container {
  position: relative;
  top: 60px;
}
