.login-page {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: #4A4A4A;
  padding-bottom: 293px;
}

.login-page__header {
  font-size: 30px;
  font-weight: 400;
  margin-top: 52px;
  margin-bottom: 80px;
}

.login-page__subheader {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 56px;
}

.login-page__text-field-container {
  width: 330px !important;
  margin: 0 auto;
  margin-bottom: 62px;
}

.login-page__login-code-btn {
  display: block !important;
  margin: 0 auto !important;
  margin-bottom: 15px !important;
}

.login-page__lil-link {
  font-size: 18px;
  color: #40B097;
  cursor: pointer;
}
