.landing-page__std-btn {
  width: 158px !important;
}

.landing-page__std-btn span {
  font-family: Futura-Light;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}

.landing-page__std-header {
  font-family: Futura-Light;
  font-size: 30px;
  margin: 0;
}

.landing-page__std-subheader {
  font-family: Futura-Light-Italic;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

@import url("./header/index.css");
@import url("./intro/index.css");
@import url("./about-us/index.css");
@import url("./join-the-cause/index.css");
@import url("./how-it-works/index.css");
@import url("./footer/index.css");
