.landing-page__std-header {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

.landing-page__std-subheader {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 300;
}

.landing-page__blurb-container {
  border-bottom: 1px solid #4A4A4A;
  padding-right: 40px;
  padding-left: 40px;
}

.landing-page__blurb {
  font-size: 30px;
  color: rgba(45,43,43,0.99);
  max-width: 841px;
  min-height: 108px;
  margin: 70px auto;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 839px) {

  .landing-page__std-header {
    font-size: 22px;
  }

  .landing-page__std-subheader {
    font-size: 18px;
  }

  .landing-page__blurb {
    font-size: 22px;
  }

}

@import url("./stories/index.css");
@import url("./mission/index.css");
@import url("./launching-soon/index.css");
@import url("./how-it-works/index.css");
