.landing-page__std-header {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

.landing-page__std-subheader {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 300;
}

@media (max-width: 480px) {
  .landing-page__std-header {
    font-size: 22px;
  }

  .landing-page__std-subheader {
    font-size: 18px;
  }
}

@import url("./intro/index.css");
@import url("./mission/index.css");
@import url("./join-the-cause/index.css");
@import url("./how-it-works/index.css");
