/* general */

.landing-page__std-btn {
  width: 158px !important;
}

.landing-page__std-btn span {
  font-family: Futura-Light;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}

.landing-page__std-header {
  font-family: Futura-Light;
  font-size: 30px;
  margin: 0;
}

.landing-page__std-subheader {
  font-family: Futura-Light-Italic;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* header */

.landing-page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.landing-page__app-bar {
  background: #F6E36B !important;
}

.landing-page__header-nav-icon-menu {
  display: none !important;
}

.landing-page__header-nav-btn {
  font-family: Futura-Book !important;
  color: #40B097 !important;
  font-size: 14px;
}

.landing-page__header-nav-btn span {
  text-transform: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}


@media (max-width: 675px) {
  .landing-page__header-nav-btns {
    display: none;
  }

  .landing-page__header-nav-icon-menu {
    display: block !important;
  }
}


/* intro panel */

.landing-page__intro {
  position: relative;
  padding: 167px 20px 26px;
  text-align: center;
  background: #F6E36B !important;
}

.landing-page__phone-img {
  position: absolute;
  left: -66px;
  width: 333px;
  height: 323px;
}

.landing-page__handcuffs-img {
  position: absolute;
  top: 230px;
  right: 0;
  width: 193px;
  height: 165px;
}

.landing-page__intro-header {
  font-family: Futura-Medium;
  font-weight: normal;
  font-size: 50px;
  color: #4A4A4A;
  margin: 0 auto;
}

.landing-page__intro-text {
  font-family: Interstate-Light;
  font-size: 20px;
  color: #4A4A4A;
  max-width: 534px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 63px;
  text-align: left;
}

.landing-page__thumbscroll-placeholder {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 7px;
  margin-top: 100px;
  cursor: pointer
}

.landing-page__intro-see-how-it-works-txt {
  font-family: Futura-Book-Italic;
  font-size: 14px;
  color: #4A4A4A;
}

/* how it works panel */

.landing-page__how-it-works {
  background: #F7F9F9;
  padding: 62px 20px 0;
  text-align: center;
  color: #4A4A4A;
}

.landing-page__how-it-works-icon {
  display: block;
  margin: 0 auto;
}

.landing-page__how-it-works-text {
  position: relative;
  font-family: Interstate-Light;
  font-size: 18px;
  margin: 18px auto;
  width: 190px;
  min-height: 100px;
}

.landing-page__how-it-works-step-number {
  display: block;
  position: absolute;
  color: rgba(255,230,76,0.27);
  font-size: 140px;
  font-family: Futura-Medium;
  top: -35px;
  width: 100%;
}

.landing-page__sample-call-btn {
  margin-top: 35px;
  margin-bottom: 96px;
}

/* about us panel */

.landing-page__about-us {
  background: #4A4A4A;
  color: #F7F9F9;
  text-align: center;
  padding: 62px 20px 0;
}

.landing-page__about-us-text {
  font-family: Interstate-Light;
  font-size: 18px;
  max-width: 800px;
  padding-top: 5px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.landing-page__manifesto-btn {
  width: 207px !important;
  margin-bottom: 58px;
}

.landing-page__manifesto-btn span {
  font-family: Futura-Medium;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}

/* contact us panel */

.landing-page__contact-us {
  background: #F7F9F9;
  padding: 35px 20px 0;
  text-align: center;
  color: #4A4A4A;
}

.landing-page__sign-up-btn {
  margin-top: 6px;
  margin-bottom: 53px;
}

/* footer */

.landing-page__footer {
  background: #F6E36B;
  font-family: Futura-Book;
  font-size: 14px;
}

.landing-page__footer-link-container {
  padding-top: 62px;
  padding-bottom: 50px;
  padding-left: 94px;
}

@media (max-width: 479px) {
  .landing-page__footer-link-container {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .landing-page__footer-link-container {
    padding-left: 45px;
  }
}

.landing-page__footer-header {
  color: #40B097;
  margin-bottom: 12px;
}

.landing-page__footer-link {
  margin-bottom: 12px;
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}
