.landing-page {
  margin-top: 64px;
}

.landing-page__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.landing-page__intro {
  padding-top: 10px;
  text-align: center;
}

.landing-page__paragraph {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.landing-page__subheader {
  font-weight: normal;
}

.landing-page__how-it-works {
  padding-top: 10px;
  text-align: center;
}
