.landing-page__how-it-works {
  background: #F7F9F9;
  padding: 62px 20px 0;
  text-align: center;
  color: #4A4A4A;
}

.landing-page__how-it-works-icon {
  display: block;
  margin: 0 auto;
}

.landing-page__how-it-works-text {
  position: relative;
  font-family: Interstate-Light;
  font-size: 18px;
  margin: 18px auto;
  width: 190px;
  min-height: 100px;
}

.landing-page__how-it-works-step-number {
  display: block;
  position: absolute;
  color: rgba(255,230,76,0.27);
  font-size: 140px;
  font-family: Futura-Medium;
  top: -35px;
  width: 100%;
}

.landing-page__sample-call-btn {
  margin-top: 35px;
  margin-bottom: 96px;
}
