.landing-page__how-it-works {
  padding: 62px 20px 0;
  text-align: center;
  color: #4A4A4A;
}

.landing-page__how-it-works-step-list {
  list-style: none;
  padding-left: 0;
}

.landing-page__how-it-works-icon {
  display: block;
  margin: 0 auto;
  width: 76px;
  height: 76px;
}

.landing-page__how-it-works-step-header {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

.landing-page__how-it-works-text {
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  width: 190px;
}

.landing-page__sample-call-btn {
  margin-top: 52px;
  margin-bottom: 60px;
}
