.partners {
  padding: 60px 0;
  text-align: center;

  .logos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    img {
      max-width: 130px;
      object-fit: contain;
      height: 95px;
      margin: 20px;
    }
  }
}

@media #{$tablet-up} {
  .partners {
    background: $white;
    padding: 60px $lp-h-padding 100px;

    .content {
      max-width: $lp-max-width;
      margin: 0 auto;

      .h2 {
        font-weight: $regular;
        margin-bottom: 60px;
      }

      .logos-container {
        img {
          max-width: 190px;
          object-fit: contain;
          height: 100px;
        }
      }
    }

  }
}
