.lawyer {
  max-width: $lp-max-width;
  margin: 0 auto;
  padding: 165px $lp-h-padding 0;
  padding-bottom: 0;

  .content-container {
    max-width: 464px;
    width: 50%;

    .h2 {
      font-weight: $regular;
    }
  }

  .icon {
    max-height: 360px;
    max-width: 360px;
    object-fit: contain;
  }
}

@media #{$mobile-only} {
  .lawyer {
    padding: 60px 30px 0;

    .h2 {
      font-weight: $semi-bold;
    }

    .icon {
      height: 220px;
      width: 220px;
    }
  }
}

@media #{$tablet-up} {
  .lawyer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content-container {
      align-self: flex-start;
      margin-right: 50px;
    }

    .icon {
      width: 50%;
      align-self: flex-end;
    }
  }
}
