.landing-page__launching-soon {
  background: #FDFFF9;
  padding: 60px 20px 57px;
  text-align: center;
  color: #4A4A4A;
}

.landing-page__launching-soon-header {
  font-weight: 700;
}

.landing-page__launching-soon-subheader {
  font-weight: 300;
  margin-bottom: 42px;
}
