.sign-up-page__hint-security {
  top: 250px !important;
}

.sign-up-page__date-select-container {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sign-up-page__date-select-label {
  color: rgb(64, 176, 151);
  font-size: 11px;
  text-transform: uppercase;
}

.sign-up-page__date-select-fields-container {
  display: -webkit-flex;
  display: flex;
}

.sign-up-page__form-select-date-field {
  margin-right: 10px;
}

.sign-up-page__form-select-date-field:last-of-type {
  margin-right: 0;
}

.sign-up-page__create-user-form-continue-btn {
  margin-bottom: 0 !important;
}

.sign-up-page__form-continue-btn-terms-text {
  font-size: 16px;
  color: #4A4A4A;
  line-height: 24px;
  margin-bottom: 95px !important;
}

.sign-up-page__form-continue-btn-terms-text a {
  color: #40B097;
  text-decoration: none;
}
