.sign-up-page__hint-security {
  top: 232px !important;
}

.sign-up-page__date-select-container {
  text-align: left;
  margin-bottom: 10px;
}

.sign-up-page__date-select-label {
  color: rgb(64, 176, 151);
  font-size: 11px;
  text-transform: uppercase;
}

.sign-up-page__date-select-fields-container {
  display: -webkit-flex;
  display: flex;
}

.sign-up-page__form-select-date-field {
  margin-right: 10px;
}

.sign-up-page__form-select-date-field:last-of-type {
  margin-right: 0;
}
