.call {
  position: relative;
  background-image: url('/assets/videos/bw.mp4');
  background-size: cover;
  max-height: 700px;
  min-height: 420px;
  overflow: hidden;

  .video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    color: $cream;
    z-index: 2;
    padding: 145px $lp-h-padding;
    max-width: $lp-max-width;
    margin: 0 auto;

    .left {
      max-width: 640px;

      .h1 {
        margin-bottom: 15px;
      }

      .p {
        margin-bottom: 30px;
        font-weight: $light;
      }
    }

    & .keypad {
      margin-left: 120px;
      min-width: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .phone {
        background: transparent;
        border: none;
        color: $cream;
        font-weight: $light;
        &::-webkit-input-placeholder { opacity: 0.9; font-size: 20px; }
        &::-moz-placeholder { opacity: 0.9; font-size: 20px; }
        &:-ms-input-placeholder { opacity: 0.9; font-size: 20px; }
        &:-moz-placeholder { opacity: 0.9; font-size: 20px; }
        border-bottom: 2px solid $cream;
        font-size: 35px;
        padding-bottom: 5px;
        margin-bottom: 65px;
      }

      .digits-container {
        .row {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .key-container {
            width: 84px;
            height: 63px;
            border: 1px solid $cream;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 4px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background: $white;
              color: $black;
            }

            .key {
              font-size: 32px;
              font-weight: $light;
            }
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
  }

  .arrow-container {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .arrow {
      cursor: pointer;
    }
  }
}

@media #{$mobile-only} {
  .call {
    .content {
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 60px;
    }
  }
}

@media (max-width: 1200px) {
  .call {
    .content .keypad {
      display: none;
    }
  }
}
