.call {
  position: relative;
  // TODO: update with video instead
  background-image: url('http://bronxink.org/wp-content/blogs.dir/3/files/2011/10/DSC_0121.jpg');
  background-size: cover;

  & > .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    color: $cream;
    z-index: 2;
    padding-top: 185px;
    padding-left: 115px;
    padding: 145px;
    max-width: $lp-max-width;
    margin: 0 auto;
    
    & .left {
      max-width: 640px;

      & > .h1 {
        margin-bottom: 15px;
      }

      & > .p {
        margin-bottom: 30px;
        font-weight: $light;
      }
    }

    & .keypad {
      margin-left: 120px;
      min-width: 420px;

      .phone {
        background: transparent;
        border: none;
        color: $cream;
        font-weight: $light;
        width: 100%;
        &::-webkit-input-placeholder { opacity: 0.9; }
        &::-moz-placeholder { opacity: 0.9; }
        &:-ms-input-placeholder { opacity: 0.9; }
        &:-moz-placeholder { opacity: 0.9; }
        border-bottom: 2px solid $cream;
        font-size: 24px;
        padding-bottom: 5px;
        margin-bottom: 65px;
      }

      .digits-container {
        .row {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .key-container {
            width: 84px;
            height: 63px;
            border: 1px solid $cream;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 4px;
            cursor: pointer;

            .key {
              font-size: 32px;
              font-weight: $light;
            }
          }
        }
      }
    }
  }

  & > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
  }

  & > .arrow-container {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .arrow {
      cursor: pointer;
    }
  }
}

@media ($mobile) {
  .call {
    & > .content {
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 60px;
    }
  }
}

@media (max-width: 1200px) {
  .call {
    .content .keypad {
      display: none;
    }
  }
}
