.press {
  background: #FFFFFF;
  text-align: center;
  padding: 40px 70px;

  & > .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;

    & .image {
      object-fit: contain;
      width: 200px;
      height: 45px;
      margin-left: 10px;
      margin-right: 10px;
      transition: 0.5s;

      &:hover {
        opacity: 0.6;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media #{$mobile-only} {
  .press {
    padding: 50px 30px 50px;

    & > .images .image {
      width: 150px;
      height: 60px;
    }
  }
}
