.press {
  background: #FFFFFF;
  text-align: center;

  & > .images {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1700px;
    padding: 20px;

    & .image-container {
      transition: 0.5s;
      position: relative;
      width: 25%;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media #{$tablet-down} {
  .press {
    & > .images {
      max-width: 600px;
      margin: 0 auto;

      & .image-container {
        width: 50%;
      }
    }
  }
}

@media #{$mobile-only} {
  .press {
    & > .images {
      & .image-container {
        width: 100%;
      }
    }
  }
}
