.landing-page__press {
  background: #FFFFFF;
  padding: 60px 20px 57px;
  text-align: center;
  color: #4A4A4A;
}

.landing-page__press-header {
  font-weight: 700;
  margin-bottom: 42px;
}

.landing-page__press-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
}

.landing-page__press-image {
  object-fit: contain;
  width: 250px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.landing-page__press-image:not(:last-child) {
  margin-bottom: 20px;
}
