.press {
  background: #FFFFFF;
  text-align: center;

  & > .images {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1700px;

    & .image-container {
      transition: 0.5s;
      position: relative;
      width: 50%;

      & .image {
      }

      &:hover {
        opacity: 0.6;
      }

      &:not(:last-child) {
      }
    }
  }
}

@media #{$mobile-only} {
  .press {
    & > .images .image {
    }
  }
}

@media #{$tablet-down} {
  .press {
    & > .images .image {
    }
  }
}
