.landing-page__launching-soon {
  background: #45D8B8;
  padding: 60px 20px 0;
  text-align: center;
  color: #FDFFF9;
}

.landing-page__launching-soon-header {

}

.landing-page__launching-soon-sign-up-btn {
  margin-top: 15px;
  margin-bottom: 61px;
  width: 211px !important;
}

.landing-page__launching-soon-sign-up-btn span {
  font-size: 16px !important;
  letter-spacing: 0.57px !important;
  font-weight: normal !important;
}
