.landing-page__stories {
  position: relative;
  padding-top: 103px;
  text-align: center;
}

.landing-page__stories-header {
  font-weight: normal;
  font-size: 50px;
  color: #4A4A4A;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.landing-page__story-container {
  position: relative;
  text-align: center;
  height: 352px;
  color: #FDFFF9;
  background-size: cover;
}

.landing-page__story-container-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
}

.landing-page__story {
  float: right;
  width: 420px;
  margin-right: 50px;
  margin-top: 80px;
  text-align: left;
}

.landing-page__story-header {
  font-weight: normal;
  font-size: 40px;
  margin: 0;
}

.landing-page__story-header mark {
  background: #45D8B8;
  color: inherit;
  padding-bottom: 7px;
  padding-left: 2px;
  padding-right: 2px;
}

.landing-page__story-text {
  position: relative;
  margin-top: 35px;
  width: 340px;
  font-weight: 300;
  font-size: 20px;
}

.landing-page__story-text-quote {
  position: absolute;
  font-size: 100px;
}

.landing-page__story-text-left-quote {
  top: -32px;
  left: -41px;
}

.landing-page__story-text-right-quote {
  bottom: -83px;
  right: -24px;
}

.landing-page__story-name-and-location {
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: 45px;
  right: 4px;
}

.landing-page__stories-scroll-down-btn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 6px;
}

@media (max-width: 839px) {

  .landing-page__story {
    margin-right: 0;
  }

  .landing-page__stories-header {
    font-size: 42px;
  }

  .landing-page__story-header {
    font-size: 36px;
  }

  .landing-page__story-text {
    font-size: 16px;
  }

  .landing-page__story-text-quote {
    position: absolute;
    font-size: 80px;
  }

  .landing-page__story-text-left-quote {
    top: -25px;
    left: -36px;
  }

  .landing-page__story-text-right-quote {
    bottom: -51px;
    right: -22px;
  }

}

@media (max-width: 680px) {

  .landing-page__stories {
    padding-top: 60px;
  }

  .landing-page__stories-header {
    font-size: 36px;
  }

}

@media (max-width: 520px) {

  .landing-page__stories-header {
    font-size: 24px;
  }

  .landing-page__story-container {
    height: 390px;
  }

  .landing-page__story {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
  }

  .landing-page__story-header {
    font-size: 30px;
  }

  .landing-page__story-text {
    width: 240px;
  }

}
